* {
  font-family: sans-serif;
}

.container {
  padding: 5px;
  margin: 2px;
  border: 1px solid #000;
}

footer,
header,
main,
.sidebar {
  background-color: #dcdcdc;
  padding: 5px 0;
}

article,
aside {
  background-color: #fff;
  margin: 5px;
  margin-left: 20px;
  border: 1px solid #c0c0c0;
}

p {
  margin: 5px 20px;
}

header p:first-child,
header p:last-child,
article p:first-child,
article p:last-child,
aside p:first-child,
aside p:last-child,
footer p:first-child,
footer p:last-child,
.sidebar p:first-child,
.sidebar p:last-child,
main p:first-child,
main p:last-child {
  margin: 4px;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  flex-grow: 1;
  margin-right: 5px !important;
}

main,
.sidebar {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

article,
aside {
  flex-grow: 1;
}
