*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a:focus {
  outline: none;
}

a:link {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}
