body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.boxes-container {
  cursor: pointer;
  width: 160px;
  height: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  position: absolute;
  width: 80px;
  height: 80px;
  transition: transform 1s, transform-origin 1s, border-radius 1s;
}

.top-left {
  top: 0;
  left: 0;
  background-color: #8a2be2;
  transform-origin: left top;
  border-top-left-radius: 50%;
}

.top-right {
  top: 0;
  right: 0;
  background-color: #6495ed;
  transform-origin: right top;
  border-top-right-radius: 50%;
}

.bottom-left {
  bottom: 0;
  left: 0;
  background-color: #008b8b;
  transform-origin: bottom left;
  border-bottom-left-radius: 50%;
}

.bottom-right {
  bottom: 0;
  right: 0;
  background-color: deeppink;
  transform-origin: bottom right;
  border-bottom-right-radius: 50%;
}

.boxes-container:hover > .bottom-left,
.boxes-container:hover > .top-right {
  transform: rotate(-90deg);
}

.boxes-container:hover > .bottom-right,
.boxes-container:hover > .top-left {
  transform: rotate(90deg);
}

.boxes-container:hover > .top-right {
  transform: rotate(-90deg);
  border-bottom-left-radius: 50%;
}

.boxes-container:hover > .top-left {
  transform: rotate(90deg);
  border-bottom-right-radius: 50%;
}

.boxes-container:hover > .bottom-left {
  transform: rotate(-90deg);
  border-top-right-radius: 50%;
}

.boxes-container:hover > .bottom-right {
  transform: rotate(90deg);
  border-top-left-radius: 50%;
}
